#wrapper{

margin-left: auto;
margin-right: auto;
width: 100%;

}

header{
  width: 100%;
  height: 20px;
  background: linear-gradient(to bottom, #000000 0%, #808080 105%);
  text-align: center;
  color: #black;
  font-size: 10px;
  font-family: 'Roboto Slab', serif;


}
nav{
  width: 100%;
  height: 120px;
  background-color: #eee;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;



}
#space{
  background-color: white;
  width: 100%;
  height: 10px;
}
#spacebar {
  width: 10px;
  height: 335px;
  background-color: white;
}
 #mainwrapper{

display:flex;
font-family: 'Roboto Slab', serif;

}
main{
  width: 85%;
  height: 335px;
  background-color: #eee;
  font-family: 'Roboto Slab', serif;


}
#stor{
  font-size: 14.5px;
}
#disk{
  font-size: 14.5px;
}
#grafik{
  font-size: 13.2px;
}
#right{

background-color: white;
width: 30%




}

aside{
  width: 15%;
  height: 335px;
  background-color:#eee;
  font-family: 'Roboto Slab', serif;



}
footer{
  width: 100%;
  height: 80px;
  background-color: #eee;
  font-family: 'Roboto Slab', serif;

}

ul{
padding: 0;
  list-style-type:none;
  margin-top: 0px;
  font-family: 'Roboto Slab', serif;




}

li{
  height: 40px;
  width: 93%;
padding-left: 8px;

  border: solid 1px;

}

a{

  text-decoration: none;
  font-size: 20px;
}

/* unvisited link */
a:link {
    color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color:  #66a3ff;
}

/* selected link */
a:active {
    color: #000000;
}
