
body{
}

header {
  grid-area: header;

background-image: url('../imgs/backgrunden.png');

}
#logga{
  margin-left: 45%;

  width: 140px;
  height:80px;

background: url('../imgs/loggaclut.png') 0 0;

}
nav {
  grid-area: nav;
  background-color: black;


}
main {
  grid-area: main;
background-color: #f1f1f1;

}


aside {
  grid-area: aside;
background-color: pink;

}
footer {
  grid-area: footer;
  background-image: url('../imgs/backgrunden.png');

}


nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: red;
}

#window{
  margin-left: 12%;

height: 450px;
width: 80%;
display: flex;
flex-wrap: wrap;


}
#imgs img{

  width: 33.1%;
}
#imgs{

  height: 450px;
  width: 300%;
  position: relative;

}
#buttons{


}
#button {



}

#button2 {


}
*{

margin: 0;
padding: 0;

text-decoration: none;

}
#gitarrer{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;

}

.gitarr{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;


}
.gitarr1{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.gitarr2{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.gitarr3{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.gitarr4{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.gitarr5{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.bild{

  float: left;
  overflow: hidden;
}
.bild img{
  width: 100%;
}
.info{
float: left;
padding: 10px;
}
.info span{
  display: block;
  overflow: hidden;
  margin: 2px 0;

}
.desc{
  font-size: 10px;
  color: red;
}
.pris{
  color: #e74c3c;
  font-size: 20px;
  font-weight: 700;
}
.info span a{
  display: block;
  float: left;
  padding: 1px 2px;
  margin-right: 3px;
  border: 2px solid;
  color: #e74c3c;
  font-size: 15px;
  border-radius: 8px;
}
.laggtill{

  font-size: 20px;
  color: white;
  background: #e74c3c;
  display: block;
  float: left;
  padding: 6px;
  text-align: center;
  margin: 8px 0;
}
.laggtill:hover{
  opacity: 0.7;
}
.righthands{
  background-color: lightgray;
  display: block;
  float: left;
  padding: 1px 2px;
  margin-right: 3px;
  border: 2px solid;
  color: red;
  font-size: 15px;
  border-radius: 8px;
}
.lefthands{
    background-color: lightgray;
    display: block;
    float: left;
    padding: 1px 2px;
    margin-right: 3px;
    border: 2px solid;
    color: red;
    font-size: 15px;
    border-radius: 8px;
}
#kontaktaid{
  font-family: 'Roboto', sans-serif;

  height: 100%;
  width: 100%;
  display: flex;

}
#maps{
  width: 50%;
  height: 100%;
}
#kontaktainfo{
  font-family: 'Shadows Into Light', cursive;
  width: 50%;

}
#beställningsidacontainer{
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

}
#draganddropp{
  width: 350px;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: none;

}


*{
  box-sizing: border-box;
}

.row {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  width: 100%;
}

.col-25 {

  flex: 25%;
}

.col-50 {

  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25,.col-50,.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 80%;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}
#dingitarr{
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 100%;
  display: flex;

}

#draga1, #draga2 {
  float: left;
  width: 102px;
  height: 102px;
  margin: 10px;

  border: 1px solid black;
}
#draga3, #draga4 {
  float: left;
  width: 102px;
  height: 102px;
  margin: 10px;

  border: 1px solid black;
}
#draga5, #draga6 {
  float: left;
  width: 102px;
  height: 102px;
  margin: 10px;

  border: 1px solid black;
}
#introduktion{
    font-family: Arial;
    width: 100%;
}#skalor{
    font-family: Arial;
        width: 100%;
}#glidskala{
    font-family: Arial;
}


#wrapper {
  height:100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:9% 7% auto 9%;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
@media only screen and (max-width: 900px) {
  main div{
    width: 45%;
    height: 15%;
  }

  #wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 9% 7% auto 5%;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";

  }

  #gitarrer{
    margin-left: 25%;
    width: 50%;
    font-family: sans-serif;

  }
.gitarr{
  width:100%;
}
.gitarr1{
  width:100%;
}
.gitarr2{
  width:100%;
}
.gitarr3{
  width:100%;
}
.gitarr4{
  width:100%;
}
.gitarr5{
  width:100%;
}
.col-25 {

  flex: 100%;
}

.col-50 {

  flex: 100%;
}

.col-75 {
  flex: 100%;
}
.row{
  width: 100%;

}

}
