
body{

}

header {
  grid-area: header;

background-image: url('../imgs/backgrunden.png');

}
#logga{
  margin-left: 45%;
  margin-top: -2%;
  width: 150px;
  height:100px;

background: url('../imgs/loggaclut.png') 0 0;

}
nav {
  grid-area: nav;
  background-color: black;


}
main {
  grid-area: main;
background-color: #f1f1f1;

}


aside {
  grid-area: aside;
background-color: pink;

}
footer {
  grid-area: footer;
  background-image: url('../imgs/backgrunden.png');

}

#wrapper {
  height:100vh;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows:10% 7% auto 10%;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
}
@media only screen and (max-width: 800px) {
  main div{
    width: 45%;
    height: 15%;
  }

  #wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% auto 5%;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";

  }

}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: red;
}
#shop{
  float: right;
}
#window{
  margin-left: 20%;

height: 450px;
width: 800px;


}
#imgs{

  height: 450px;
  width: 2500px;
  position: relative;
}
#buttons{


}
#button {



}

#button2 {


}
*{

margin: 0;
padding: 0;
font-family: sans-serif;
text-decoration: none;

}
#gitarrer{
  display: flex;

}

.gitarr{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;


}
.gitarr1{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.gitarr2{
  overflow: hidden;

  background-color: lightgrey;
  padding-top: 5px;

}
.bild{

  float: left;
  overflow: hidden;
}
.bild img{
  width: 100%;
}
.info{
float: left;
padding: 10px;
}
.info span{
  display: block;
  overflow: hidden;
  margin: 2px 0;

}
.desc{
  font-size: 10px;
  color: red;
}
.pris{
  color: #e74c3c;
  font-size: 20px;
  font-weight: 700;
}
.info span a{
display: block;
float: left;
padding: 1px 2px;
margin-right: 3px;
border: 2px solid;
color: #e74c3c;
font-size: 15px;
border-radius: 8px;
}
.läggtill{

  font-size: 20px;
  color: white;
  background: #e74c3c;
  display: block;
  float: left;
  padding: 6px;
  text-align: center;
  margin: 8px 0;
}
.läggtill:hover{
  opacity: 0.7;
}
#kontaktaid{
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  display: flex;

}
#maps{
  width: 50%;
  height: 100%;
}
#kontaktainfo{
  width: 50%;


}
